.product-grid {
    display: flex;
    position: relative;

    flex-direction: row;
    flex-wrap: wrap;

    row-gap: 50px;
    column-gap: 50px;

    justify-content: space-evenly;

    width: 98%;

    margin-top: 50px;

    box-sizing: border-box;
    
    border: 1px solid lavender;

    padding: 20px;
}