main {
    display: block;
    position: relative;

    margin: auto;

    box-sizing: border-box;

    padding: 50px 5%;
}

.main-header {
    display: block;
    position: relative;

    font-size: 4rem;
}

.main-secondary-header {
    display: block;
    position: relative;

    font-weight: bolder;
    color: #e82546;

    margin-left: 10px;
}